<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878767050701-u1i7up27e6p0r93f1k6da2gkhsmpjrhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878767050701-u1i7up27e6p0r93f1k6da2gkhsmpjrhm</string>
	<key>API_KEY</key>
	<string>AIzaSyBWlSaBnj9uVJnOzymbIWN7WzZe70LuIRk</string>
	<key>GCM_SENDER_ID</key>
	<string>878767050701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furnitureApp</string>
	<key>PROJECT_ID</key>
	<string>furniture-app-baa26</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-app-baa26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878767050701:ios:974fdc75e8590fd842be84</string>
</dict>
</plist>